// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Darkening event type boxes
@mixin colored-event-types ($count, $baseName, $startcolor) {
    @for $i from 0 through $count {
      $background-color: shade($startcolor, $i * $i); 
    	.event-type#{$i} {
	      background: $background-color;
	      transition: background 150ms ease; 
	      color: $comm-gray;
	      transition: color 150ms ease;
	      flex: 1;

	      &:hover {
				background: tint($background-color, 30%);
				color: tint($comm-gray, 20%);
			} // :hover
	    } // event-type
   } // for
} // mixin

@include colored-event-types(5,'a', tint($comm-lt-blue, 10%) );