.site-footer {
	clear: both;
	width: $size__site-main;
	color: $comm-med-blue; 
	background: $comm-gray;
	@include font-size(1);
	
	a {
		text-decoration: none;

		&:hover {
			color: tint($comm-med-blue, 30%);
		} // :hover
	} // a
} // .site-footer

.footer-widgets {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	
	.footer-widget {
		flex: 1 0 250px;
		padding: 16px;
		padding: 1rem;

		ul {
			margin: 0 auto;
			list-style-type: none;
			text-decoration: none;

			li {
				display: block;
				@include font-size(1.25);
				letter-spacing: 2.5px;
				margin-bottom: 12px;
				margin-bottom: 0.75rem;
				border-bottom: 1px solid #555;
				width: 200px;

				
				a {
					color: $comm-med-blue;
					transition: color 150ms ease;

					&:hover {
						color: tint($comm-med-blue, 30%);
					} // :hover
				}// a
			} // li
 		} // ul
	} // each footer widget
} // footer widget area

.footer-widgets:before {
		content: none;
	}

.site-info {
	margin: 0 auto;
	@include font-size(0.75);
	text-align: center;
	color: $comm-med-blue;

	p {
		color: #ccc;
	}
	a {
		color: $comm-med-blue;
		
		&:hover {
			color: tint($comm-med-blue, 30%);
		} // :hover
	} // a
} // .site-info