.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5rem !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1rem;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  flex-basis: 15rem;
  flex-grow: 1;
  transition: all, 0.2s, ease-in-out;
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  //cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;


  .staff-card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: $card-image-hover-color;

    img {
      transition: all, 0.2s, ease-in-out;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  .staff-card-header {
    transition: all, 0.2s, ease-in-out;
    background-color: $card-header-background;
    // border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-family: $serif;
    @include font-size(1.3);
    font-weight: 700;
    line-height: 1.5rem;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .staff-card-title {
      transition: all, 0.2s, ease-in-out;
      background-color: $card-header-background;
      border-bottom: $card-border;
      border-radius: $base-border-radius $base-border-radius 0 0;
      font-family: $serif;
      @include font-size(1.1);
      font-weight: 400;
      font-style: italic;
      line-height: 1rem;
      padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .staff-card-copy {
    @include font-size(0.9);
    line-height: 1.5rem;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    margin: 0 0 ($base-spacing / 2);
  }

  &:focus,
  &:hover {
    //cursor: pointer;

    img {
      //opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

