.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-right: 1.5rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-left: 1.5rem;
}

.aligncenter {
	@include center-block;
}